<form class="form_recherche" action="/rechercherUnMembre" method="POST">
  <input type="text" placeholder="Rechercher un membre..." name="motRecherche" value=''>
  <button type="submit"><i class="fa fa-search"></i></button>
</form>