<form class="form_recherche" action="rechercherUnMembre">
  <input type="text" placeholder="Rechercher un membre..." name="recherche">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>